USE [master]
GO
/****** Object:  Database [World]    Script Date: 12.9.2013 г. 23:29:17 ч. ******/
CREATE DATABASE [World]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'World', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\World.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'World_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\World_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [World].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [World]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 12.9.2013 г. 23:29:19 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[CountryId] [varchar](3) NOT NULL,
	[CityPopulation] [int] NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 12.9.2013 г. 23:29:19 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Continents](
	[ContinentId] [int] IDENTITY(1,1) NOT NULL,
	[ContinentName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Continents] PRIMARY KEY CLUSTERED 
(
	[ContinentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 12.9.2013 г. 23:29:19 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [varchar](3) NOT NULL,
	[CountryName] [varchar](52) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[SurfaceArea] [float] NOT NULL,
	[ContinentId] [int] NULL,
	[Population] [int] NOT NULL,
	[FlagImage] [image] NULL,
 CONSTRAINT [PK__countrie__D320769C0449E083] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country_Languages]    Script Date: 12.9.2013 г. 23:29:19 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country_Languages](
	[CountryId] [varchar](3) NOT NULL,
	[LanguageId] [int] NOT NULL,
 CONSTRAINT [PK_Country_Languages] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 12.9.2013 г. 23:29:19 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[LanguageName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityID], [CityName], [CountryId], [CityPopulation], [Latitude], [Longitude]) VALUES (0, N'Karachi', N'PAK', 25000, 24, 67)
INSERT [dbo].[Cities] ([CityID], [CityName], [CountryId], [CityPopulation], [Latitude], [Longitude]) VALUES (7, N'Mountain View', N'USA', 17025, 37.42, -122.06)
INSERT [dbo].[Cities] ([CityID], [CityName], [CountryId], [CityPopulation], [Latitude], [Longitude]) VALUES (8, N'Beijing', N'CHN', 123654, 39.93, 116.39)
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Continents] ON 

INSERT [dbo].[Continents] ([ContinentId], [ContinentName]) VALUES (1, N'South America')
INSERT [dbo].[Continents] ([ContinentId], [ContinentName]) VALUES (2, N'North America')
INSERT [dbo].[Continents] ([ContinentId], [ContinentName]) VALUES (3, N'Asia')
SET IDENTITY_INSERT [dbo].[Continents] OFF
INSERT [dbo].[Countries] ([CountryId], [CountryName], [Latitude], [Longitude], [SurfaceArea], [ContinentId], [Population], [FlagImage]) VALUES (N'ARG', N'Argentina', -34.36, -58.23, 2780400, 1, 41660417, NULL)
INSERT [dbo].[Countries] ([CountryId], [CountryName], [Latitude], [Longitude], [SurfaceArea], [ContinentId], [Population], [FlagImage]) VALUES (N'BRA', N'Brazil', -10, -55, 8547403, 1, 170115000, NULL)
INSERT [dbo].[Countries] ([CountryId], [CountryName], [Latitude], [Longitude], [SurfaceArea], [ContinentId], [Population], [FlagImage]) VALUES (N'CAN', N'Canada', 45.24, -75.4, 9984670, 2, 33476688, NULL)
INSERT [dbo].[Country_Languages] ([CountryId], [LanguageId]) VALUES (N'ARG', 3)
INSERT [dbo].[Country_Languages] ([CountryId], [LanguageId]) VALUES (N'BRA', 4)
INSERT [dbo].[Country_Languages] ([CountryId], [LanguageId]) VALUES (N'CAN', 1)
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([LanguageId], [LanguageName]) VALUES (1, N'English')
INSERT [dbo].[Languages] ([LanguageId], [LanguageName]) VALUES (2, N'Chinese')
INSERT [dbo].[Languages] ([LanguageId], [LanguageName]) VALUES (3, N'Spanish')
SET IDENTITY_INSERT [dbo].[Languages] OFF
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Continents] FOREIGN KEY([ContinentId])
REFERENCES [dbo].[Continents] ([ContinentId])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Continents]
GO
ALTER TABLE [dbo].[Country_Languages]  WITH CHECK ADD  CONSTRAINT [FK_Country_Languages_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Country_Languages] CHECK CONSTRAINT [FK_Country_Languages_Countries]
GO
ALTER TABLE [dbo].[Country_Languages]  WITH CHECK ADD  CONSTRAINT [FK_Country_Languages_Languages] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([LanguageId])
GO
ALTER TABLE [dbo].[Country_Languages] CHECK CONSTRAINT [FK_Country_Languages_Languages]
GO
USE [master]
GO
