<fieldset>
    <legend>Register</legend>
    <label for="tb-username">Username</label>
    <input data-bind="value: username" type="text" id="tb-username" />
    <label for="tb-password">Password</label>
    <input data-bind="value: password" type="password" id="tb-password" />
    <label for="tb-email">E-mail</label>
    <input data-bind="value: email" type="text" id="tb-email" />
    <button data-bind="click: register">Register</button>
</fieldset>
<a href="#/login">Login form</a>
<br /> 
<span data-bind="text: message" class="error"></span>
