
@section featured {
    @Html.Partial("_PartialThirdView")
}
<h3>This is the third controller</h3>


<ul id="inner-menu">
    <li>@Html.ActionLink("Third Controller - Home", "Index", "Third")</li>
    <li>@Html.ActionLink("Third Controller - Subpage2", "Subpage2", "Third")</li>
    <li>@Html.ActionLink("Third Controller - Subpage3", "Subpage3", "Third")</li>
</ul>