<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="ChessEntities" connectionString="metadata=res://*/Chess.csdl|res://*/Chess.ssdl|res://*/Chess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bd5b22fa-aaaa-4010-b30d-a21a009e8ea8.sqlserver.sequelizer.com;initial catalog=dbbd5b22faaaaa4010b30da21a009e8ea8;user id=brpsiqaudtiqwyeb;password=kHTFTnU2EEuRSRb6maizvUnbCq3fVcNrTrPqefMY5RnVrtdzSwB2XSQxuRcCtNfC;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>