<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SupermarketManagement.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="SupermarketsEntities1" connectionString="metadata=res://*/MsSqlEntityModel.csdl|res://*/MsSqlEntityModel.ssdl|res://*/MsSqlEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Supermarkets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Connection" connectionString="server=localhost;database=supermarket;uid=root" providerName="MySql.Data.MySqlClient" />
    <add name="SupermarketConnection" connectionString="server=localhost;user id=root;password=parola12354;database=supermarket" providerName="MySql.Data.MySqlClient" />
    <add name="SupermarketsEntities" connectionString="metadata=res://*/SupermarketEntityModel.csdl|res://*/SupermarketEntityModel.ssdl|res://*/SupermarketEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=Supermarkets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Connection" connectionString="server=localhost;database=supermarket;uid=root" providerName="MySql.Data.MySqlClient" />
    <add name="SupermarketsSqLiteEntities" connectionString="metadata=res://*/SqLiteModel.csdl|res://*/SqLiteModel.ssdl|res://*/SqLiteModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;..\..\..\SqLiteModel\Data\Supermarkets.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <SupermarketManagement.Settings>
      <setting name="ZipReportsPath" serializeAs="String">
        <value>..//..//ExternalData//Sales-Reports.zip</value>
      </setting>
      <setting name="ZipReportsExtractPath" serializeAs="String">
        <value>..//..//ExternalData//TempExtract</value>
      </setting>
      <setting name="PdfExportPath" serializeAs="String">
        <value>..//..//PdfExports</value>
      </setting>
      <setting name="XmlReportExtractPath" serializeAs="String">
        <value>..//..//XmlExports//Report.xml</value>
      </setting>
      <setting name="JsonExportPath" serializeAs="String">
        <value>..//..//Product-Reports</value>
      </setting>
      <setting name="MongoDbConnectionString" serializeAs="String">
        <value>mongodb://localhost</value>
      </setting>
      <setting name="ExcelExportTotalProductReportPath" serializeAs="String">
        <value>..//..//ExcelExports//Products-Total-Report.xlsx</value>
      </setting>
    </SupermarketManagement.Settings>
  </userSettings>
</configuration>