USE [master]
GO
/****** Object:  Database [MoviesDb]    Script Date: 2.10.2013 г. 00:32:26 ч. ******/
CREATE DATABASE [MoviesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoviesDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MoviesDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MoviesDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MoviesDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MoviesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MoviesDb]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 2.10.2013 г. 00:32:27 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Director] [nvarchar](100) NOT NULL,
	[Year] [date] NOT NULL,
	[MaleActorName] [nvarchar](100) NOT NULL,
	[MaleActorAge] [int] NOT NULL,
	[FemaleActorName] [nvarchar](100) NOT NULL,
	[FemaleActorAge] [int] NOT NULL,
	[StudioName] [nvarchar](150) NOT NULL,
	[StudioAddress] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
