@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bit Calculator</h1>
            </hgroup>
            <p>
        </div>
    </section>
}
<h3>Notting here. Please go to the Calculator page</h3>
